# Environment configuration

# Application Environment (development, production)
APP_ENV=development
NODE_ENV=development

# Database Configuration
POSTGRES_USER=nbd_user
POSTGRES_PASSWORD=password
POSTGRES_DB=nbd_db
DATABASE_URL=postgresql://nbd_user:password@db:5432/nbd_db

# SMTP Configuration
SMTP_HOST=127.0.0.1
SMTP_PORT=1025

SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_USE_TLS=false
SMTP_USE_SSL=false
MAIL_FROM=alerts@nbd-wetland.org

# Google Service Account Credentials
GOOGLE_APPLICATION_CREDENTIALS=/credentials/your-service-account.json
